* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montasserat', sans-serif;
}
.image {
    width: 80vw;
    height: 70vh;
}

header {
    text-align: center;
}
.subscribe-section {
    text-transform: capitalize;
}
.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.bg-active {
    visibility: visible;
    opacity: 1;
}
.subscribe-section {
    text-align: center;
    margin: 25px;
    padding: 20px;
}
.subscribe-section p {
    margin-top: 10px;
    color: firebrick;
    font-weight: bold;
}
.modalButton {
    padding: 10px 30px;
    background-color: #4fa7e2;
    border: none;
    cursor: pointer;
    color: firebrick;
    font-size: 14px;
    font-weight: bold;
    margin: 15px;
    border-radius: 5px;
}
.modal {
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-transform: capitalize;
}
.modal button {
    padding: 10px 30px;
    background-color: #2980b9;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    background-color: rgb(185, 183, 159);
    font-weight: bolder;
}